@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-lattice-primary-content-8 {
    @apply bg-lattice-primary-content-8-light dark:bg-lattice-primary-content-8-dark;
  }

  .scrollbar-primary {
    scrollbar-color: #ffa757 transparent;
    cursor: pointer;
  }
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

:root {
  --background: #f2f2f2;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f2f2f2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
